
.navbar{
    position: relative;
    width: 100%;

    .greenbar{
        background-color: $greenBG;
        position: relative;

        .inner-container{
                padding: 0.75rem;
                margin: auto;
                @include flex(row, center, space-between);

                .top-left{
                    margin: auto;
                    
                     .contact-info{
                        display: flex;
                        flex-direction: row;
                      
                        li{
                            position: relative;
                            font-size: 16px;
                            line-height: 20px;
                            font-weight: 500;
                            color: $white;
                            margin-right: 30px;
                            list-style: none; 

                            i{
                                color: $yellow;
                            }
                            
                            a{
                                text-decoration: none;
                                color: $white;
                            }
                        }
                    }
                }

                nav{
                    
                }

                .top-right{
                    margin: auto;

                    .socials{
                        display: flex;
                        flex-direction: row;

                        li{
                            position: relative;
                            font-size: 16px;
                            line-height: 20px;
                            font-weight: 500;
                            color: $white;
                            margin-right: 30px;
                            list-style: none; 
                            
                        }
                    }


                }
            }
        }
    }

 .menu-container{
            position: relative;
            @include flex(row, center, space-between);
            padding: 1.5rem;
            

             .logo{
                 margin: auto;
             }

             .menu{
                 margin: auto;
             }
                 

                 .pages {
                    @include flex(row, center, space-between);
                 }

                 ul{
                    @include flex(row, center, space-between);
                    gap: 3rem;
                    list-style: none;
                 }

                     .current{

                         li{
                         list-style: none;    
                         position: relative;
                         gap: 3rem;
                         padding: 0.5rem;
                         margin-right: 14px;
                         font-family: sans-serif;
                         font-size: 18px;
                        

                         }
                        

                         a{
                             color: $dark;
                             font-weight: bold;
                             text-decoration: none;
                            
                         }
                     }

                }

            .outer-bar{
                @include flex(row, center, space-between);
                 position: relative;
                 margin: auto;
                 margin-left: 30px;
                 

                 .search{
                    
                     border: none;
                     position: relative;
                     height: 30px;
                     width: 30px;
                     line-height: 30px;
                     text-align: center;
                     background: none;
                     font-size: 26px;
                     margin-right: 30px;
                     cursor: pointer;

                     i{
                         color: $main-btn-hover;
                     }
                    
                    
                 }

                 .cart{
                     border: none;
                     position: relative;
                     height: 30px;
                     width: 30px;
                     line-height: 30px;
                     text-align: center;
                     background: none;
                     font-size: 26px;
                     margin-right: 30px;
                     cursor: pointer;

                     i{
                         color: $greenBG;

                         &:hover{
                            color: $yellow;
                        }
                     }

                     
                 }

                 
             }
         
     

    

    
    